<!DOCTYPE html>
<link rel="stylesheet" href="account.css">
<html lang="en">
 <header style="background-color:#0A2C54">
 
  <div class="topnav">
   <h1 style="color:white">HacktheMap</h1>
   <a href ="/">Home</a>
   <a href ="/map">Map</a>
   <a href="/account">Account</a>
   <a href="/goal">Our Goals</a>
   <a href="/contact">Contact Us</a>
 </div>
  
   </header>
  <br>
 <body style="background-color:#FFD766">
    
    <main style="background-color: white;">
      <h1 style>Sign in/sign up</h1>
          
        <section class="Account">
            
            <form class="form">
              <fieldset style="background-color: #FFD766;">
                <div class="fields-container">
                  
                  <div class="fields">
                    <label>Email</label>
                    <input class="input-text" type="text" placeholder="Email" />
                  </div>
      
      
                  <div class="fields">
                    <label>Password</label>
                    <input class="input-text" type="email" placeholder="Password" />
                  </div>
            <br>
                <div class="align-center flex">
                  <button class="button w-100" type="signin">Sign in</button>
                </div>
              </fieldset>
            </form>
          </section> 
    </main>
   
  </body>
</html>
