<!DOCTYPE html>
<html lang="en">
 <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/contact.css" />
  <title>Contact Us</title>  
  </head>
  <br>
 <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">HackTheMap</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a href ="/">Home</a></li>
        <li><a href ="/map">Map</a></li>
        <li><a href="/goal">Our Goal</a></li>
        <li class="active"><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
</nav>
    <main style="background-color: white;">
      <div class="contain">

        <div class="wrapper">
      
          <div class="form">
            <h4>GET IN TOUCH</h4>
            <h2 class="form-headline">Send us a message</h2>
            <form id="submit-form" action="">
              <p>
                <input id="name" class="form-input" type="text" placeholder="Your Name*">
                <small class="name-error"></small>
              </p>
              <p>
                <input id="email" class="form-input" type="email" placeholder="Your Email*">
                <small class="name-error"></small>
              </p>
              <p class="full-width">
                <input id="company-name" class="form-input" type="text" placeholder="Company Name*" required>
                <small></small>
              </p>
              <p class="full-width">
                <textarea  minlength="20" id="message" cols="30" rows="7" placeholder="Your Message*" required></textarea>
                <small></small>
              </p>
              <p class="full-width">
                <input type="checkbox" id="checkbox" name="checkbox" checked> Yes, I would like to receive communications by call / email about HackTheMap's services.
              </p>
              <p class="full-width">
                <input type="submit" class="submit-btn" value="Submit" onclick="checkValidations()">
                <button class="reset-btn" onclick="reset()">Reset</button>
              </p>
            </form>
          </div>
      
          <div class="contacts contact-wrapper">
      
            <ul>
              <li>Have any questions or business inquiries? <span class="highlight-text-grey">
                  </span> Feel free to reach out to HackTheMap staff.</li>
              <span class="hightlight-contact-info">
                <li class="email-info"><i class="fa fa-envelope" aria-hidden="true"></i> hackthemap@demo.com</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> <span class="highlight-text">+123 456 7890</span></li>
              </span>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <script src="../static/js/contact.js"></script>
  </body>
</html>
