<!DOCTYPE html>
<html lang="en">
 <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/map.css" />
  <title>Contact Us</title>  
  </head>
  <br>
 <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">HackTheMap</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a href ="/">Home</a></li>
        <li><a href ="/map">Map</a></li>
        <li><a href="/goal">Our Goal</a></li>
        <li class="active"><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
</nav>
    <main style="background-color: white;">
      <h1 style>Contact Us</h1>
          <p> If you come across any hackathons or want to talk to us, fill out the form below!</p>
        <section class="Contact">
            
            <form class="form">
              <fieldset style="background-color: #FFD766;">
                <div class="fields-container">
                  
                  <div class="fields">
                    <label>Full Name</label>
                    <input class="input-text" type="text" placeholder="Full Name" />
                  </div>
      
      
                  <div class="fields">
                    <label>Email</label>
                    <input class="input-text" type="email" placeholder="Email" />
                  </div>
                      
                  <div class="fields">
                    <label>Reason</label>
                    <textarea class="input-text"></textarea>
                  </div>
                </div>
                <br>
               
                <div class="align-center flex">
                  <button class="button w-100" type="submit">Submit</button>
                </div>
              </fieldset>
            </form>
          </section> 
    </main>
   
  </body>
</html>
