<!DOCTYPE html>
<link rel="stylesheet" href="contact_us.css">
<html lang="en">
 <header style="background-color:#0A2C54">
 
  <div class="topnav">
   <h1 style="color:white">HacktheMap</h1>
  <a href = #home>Home</a>
  <a href="#explore">Explore</a>
  <a href="#goals">Our Goals</a>
  <a href="#contact">Contact Us</a>
 </div>
  
   </header>
  <br>
 <body style="background-color:#FFD766">
    
    <main style="background-color: white;">
      <h1 style>Contact Us</h1>
          <p> If you come across any hackathons or want to talk to us, fill out the form below!</p>
        <section class="Contact">
            
            <form class="form">
              <fieldset style="background-color: #FFD766;">
                <div class="fields-container">
                  
                  <div class="fields">
                    <label>Full Name</label>
                    <input class="input-text" type="text" placeholder="Full Name" />
                  </div>
      
      
                  <div class="fields">
                    <label>Email</label>
                    <input class="input-text" type="email" placeholder="Email" />
                  </div>
                      
                  <div class="fields">
                    <label>Reason</label>
                    <textarea class="input-text"></textarea>
                  </div>
                </div>
                <br>
               
                <div class="align-center flex">
                  <button class="button w-100" type="submit">Submit</button>
                </div>
              </fieldset>
            </form>
          </section> 
    </main>
   
  </body>
</html>
