<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Our Goal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/map.css" />
  </head>
  <br>
 <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">HackTheMap</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a href ="/">Home</a></li>
        <li><a href ="/map">Map</a></li>
        <li class="active"><a href="/goal">Our Goal</a></li>
        <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
</nav>
      <h1 style="background-color: white;">Our Goals</h1>
      <p text-align: center>HackTheMap is a simple and easy tool to help you find the nearest in-person hackathons near you!</p>
      <p text-align: center>We intend to use web scraping to find hackathons taking place and provide the links to those hackathons!.</p>
      <p text-align: center>Our goal is to bring hackers from local communities together through providing a visual map of all in-person hackathons.
        Save the hassle of manually searching online or through boring filters on websites, HackTheMap is the most intuitive tool out there!
      </p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSifQ7hnjfBDcprRJlUyhxHyrXbDxqmD0SP3w&usqp=CAU">
   
  </body>
</html>

