<!DOCTYPE html>
<link rel="stylesheet" href="goals.css">
<html lang="en">
 <header style="background-color:#0A2C54">
 
  <div class="topnav">
   <h1 style="color:white">HacktheMap</h1>
  <a href ="/">Home</a>
  <a href ="/map">Map</a>
  <a href="/account">Account</a>
  <a href="/goal">Our Goals</a>
  <a href="/contact">Contact Us</a>
 </div>
  
   </header>
  <br>
 <body style="background-color:#FFD766">
    
      <h1 style="background-color: white;">Our Goals</h1>
      <p text-align: center>We want to make hackathons accessible to everyone, regardless of where they live.</p>
      <p text-align: center>We intend to use web scraping to find hackathons taking place and provide the links for our users to sign up.</p>
      <p text-align: center>We hope to provide a safe space for all individuals.</p>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSifQ7hnjfBDcprRJlUyhxHyrXbDxqmD0SP3w&usqp=CAU">
   
  </body>
</html>

