<!DOCTYPE html>
<html lang="en">
<head>
    <title>HackTheMap</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="hero">
        <div class="navbar">
            <img src="../static/images/logo.png" class="logo">
            <!-- <button type="button">Sign Up</button> -->
        </div>
        <div class="content">
            <small>Welcome to</small>
            <h1>HackTheMap</h1>
            <a href= "/map"> <button type="button">Find a Hackathon</button> </a>
            
        </div>
        <div class="side-bar">
            <img src="../static/images/menu.png" class="menu">
            
            <div class="social-links">
                <a href= "https://www.facebook.com/"> <img src="../static/images/fb.png"> </a>
                <a href= "https://www.instagram.com/"> <img src="../static/images/ig.png"> </a>
                <a href= "https://twitter.com/"> <img src="../static/images/tw.png"> </a>
            </div>
            
            <div class="useful-links">
                <a href= "/contact"><img src="../static/images/share.png"></a>
                <a href= "/goal"><img src="../static/images/info.png"></a>
                
            </div>
            
        </div>
        
        
        <div class="bubbles">
            <img src="../static/images/zero12.png">
            <img src="../static/images/one12.png">
            <img src="../static/images/zero12.png">
            <img src="../static/images/one12.png">
            <img src="../static/images/zero12.png">
            <img src="../static/images/one12.png">
            <img src="../static/images/zero12.png">
        </div>
        
        
    </div>
    
</body>
</html>