<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/map.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">HackTheMap</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href ="/">Home</a></li>
            <li><a href ="/map">Map</a></li>
            <li><a href="/goal">Our Goal</a></li>
            <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="navbar">
            <img src="../static/images/logo.png" class="logo">
            <!-- <button type="button">Sign Up</button> -->
        </div>
        <div class="content">
            <small>Welcome to</small>
            <h1>HackTheMap</h1>
            <a href= "/map"> <button type="button">Find a Hackathon</button> </a>
            
        </div>
        <div class="side-bar">
            <img src="../static/images/menu.png" class="menu">
            
            <div class="social-links">
                <a href= "https://www.facebook.com/"> <img src="../static/images/fb.png"> </a>
                <a href= "https://www.instagram.com/"> <img src="../static/images/ig.png"> </a>
                <a href= "https://twitter.com/"> <img src="../static/images/tw.png"> </a>
            </div>
            
            <div class="useful-links">
                <img src="../static/images/share.png">
                <img src="../static/images/info.png">
                
            </div>
            
        </div>
        
        
        <div class="bubbles">
            <img src="../static/images/bubble.png">
            <img src="../static/images/bubble.png">
            <img src="../static/images/bubble.png">
            <img src="../static/images/bubble.png">
            <img src="../static/images/bubble.png">
            <img src="../static/images/bubble.png">
            <img src="../static/images/bubble.png">
        </div>
        
        
    </div>
    
</body>
</html>