<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>

    <div class="home-left">
        <header class="header">
            <div class="logo"><h1>Welcome to HackTheMap! Find virtual or in-person hackathons near you! </h1></div>

            <nav>
                <!-- <a href="">MAP</a> -->
            </nav>
        </header>
        <div class = “left-container”> 
            <h1 class=“site”> Hackathon Crew </h1>
            <div class=“mapSite”> 
                <a href="/map" style="color: blue;">Navigate to the Map</a>
            </div> 
        </div> 
    </div>

    <div class=“image-container”>
        <div class=“overlay”></div>
        <img src="../static/img/coverimage.jpeg" alt="MAP"/>
    </div>

    <div class=“socials”>
        <ul>
            <li class=“link”> Page 1 </li>
            <li class=“link”> Page 2 </li>
            <li class=“link”> Page 3 </li>
        </ul>
    </div>


    <script src="app.js"></script>
</body>
</html>