<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Map</title>
        <link rel="stylesheet" href="../static/css/map.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
<body>
  <script>
    let places = [];
    let API_KEY= '{{ API_KEY }}';
  </script>
  {% for place in info %}
  {% if place['mode'] == "In-Person Only" %}
    <script>
        places.push("{{ place['loc'] }}");
    </script>
  {% endif %}
  {% endfor %}
  <div id="googleMap">
  
  </div>
<script src="../static/js/mscript.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap" defer></script>
</body>
</html>
