<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Map</title>
        <link rel="stylesheet" href="../static/css/map.css" />
    </head>
<body>
  <script>
    let countries = [];
  </script>
  {% for place in info['places'] %}
  <script>
    countries.push({
      lat: "{{ place['lat'] }}",
      long: "{{ place['long'] }}"
    });
  </script>
  {% endfor %}
  <div id="googleMap">
  
  </div>
<script src="../static/js/mscript.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=profileMap"></script>
</body>
</html>
